.mat-toolbar.mat-primary {

    background: #518099;
    color: rgb(255, 255, 255);
}

span {

    font-size: 250%; background: inherit;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}